<div class="h-screen w-full flex items-center justify-center">
  <div class="flex flex-col bg-surface w-120 h-auto p-8 gap-4 rounded-2xl">
    <h1 class="text-4xl text-primary">Parolni tiklash</h1>
    <hr>

    <!-- Email input -->
    <section class="flex flex-col gap-1">
      <h1>Username kiriting</h1>
      <input
        type="text"
        [(ngModel)]="email"
        placeholder="Email kiriting"
        class="w-full border border-muted p-2 rounded-md hover:ring-1 hover:ring-muted focus:outline-none focus:ring-2 focus:ring-tertiary duration-150"
      />
    </section>

    <!-- Secret code input, faqat message kelganda ko‘rsatiladi -->
    <section class="flex flex-col gap-1" *ngIf="showSecretInput">
      <h1>Maxfiy kodni kiriting</h1>
      <input
        type="text"
        [(ngModel)]="secretCode"
        placeholder="Maxfiy kod"
        class="w-full border border-muted p-2 rounded-md hover:ring-1 hover:ring-muted focus:outline-none focus:ring-2 focus:ring-tertiary duration-150"
      />
    </section>

    <!-- Yangi parol, faqat message kelganda ko‘rsatiladi -->
    <section class="flex flex-col gap-1" *ngIf="isTokenConfirmed">
      <h1>Yangi parolni kiriting:</h1>
      <input
        type="text"
        [(ngModel)]="newPassword"
        placeholder="Yangi parol"
        class="w-full border border-muted p-2 rounded-md hover:ring-1 hover:ring-muted focus:outline-none focus:ring-2 focus:ring-tertiary duration-150"
      />
    </section>

    <!-- Buttons -->
    <section class="flex flex-col gap-2 items-center">
      <button
        class="underline cursor-pointer hover:font-medium duration-50"
        (click)="navigateToLogin()"
      >
        Login sahifaga qaytish
      </button>

      <button
        class="bg-primary text-surface px-4 py-2 rounded-md hover:bg-secondary cursor-pointer duration-150"
        (click)="isTokenConfirmed ? confirmNewPassword() : (showSecretInput ? confirmSecretCode() : sendResetCode())"
      >
        {{ isTokenConfirmed ? 'Yangi parolni tasdiqlash' : (showSecretInput ? 'Tasdiqlash' : 'Maxfiy kodni olish') }}
      </button>

      <!-- Toast messages -->
      <p *ngIf="message" class="text-sm mt-2 text-green-600">{{ message }}</p>
      <p *ngIf="error" class="text-sm mt-2 text-red-600">{{ error }}</p>
    </section>
  </div>
</div>
